@model IEnumerable<ProjetoCardapio.Models.Salas>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Criar nova sala</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeSalas)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="tabela-escuro">
            <td>
                @Html.DisplayFor(modelItem => item.NomeSalas)
            </td>
        </tr>
        <tr class="tabela-botoes">
            <td class="spacing-botoes">
                <div class="item">
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-primary">Edit</a>
                </div>
                <div class="item">
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-primary">Details</a>
                </div>
                    <div class="item">
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-primary">Delete</a>
                </div>
                
            </td>
        </tr>
}
    </tbody>
</table>
