@model IEnumerable<ProjetoCardapio.Models.Presencas>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a class="textomod text-black" asp-action="Create">Adicionar Presença</a>
</p>
<table class="table">
    <thead>
        <tr style="border:none !important;">
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.Salas)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.QuantidadeAlunos)
            </th>
            <th style="border:none !important;"></th>
        </tr>
    </thead>
    <tbody class="corpinho">
@foreach (var item in Model) {
            <tr style="background-color: #EFEEEE; font-size: 20px">
            <td>
                @Html.DisplayFor(modelItem => item.Salas.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeAlunos)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
            </td>*@
        </tr>
        <tr class="tabela-botoes">
                        <td class="spacing-botoes">
                    <div class="item">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Editar</a>
                    </div>
                    <div class="item">
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Detalhes</a>
                    </div>
                        <div class="item">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
