@model IEnumerable<ProjetoCardapio.Models.Periodo>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="textomod text-black" asp-action="Create">Adicionar Nova Periodo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.NomePeriodo)
            </th>
            <th style="border:none !important;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="background-color: #EFEEEE; font-size: 20px">
            <td>
                @Html.DisplayFor(modelItem => item.NomePeriodo)
            </td>
            @*<td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>*@
        </tr>
                        <tr class="tabela-botoes">
                         <td class="spacing-botoes">
                        <div class="item">
                        <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-danger">Editar</a>
                        </div>
                        <div class="item">
                        <a asp-action="Details" asp-route-id="@item.id" class="btn btn-danger">Detalhes</a>
                        </div>
                            <div class="item">
                        <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-danger">Deletar</a>
                        </div>

                    </td>
                </tr>
}
    </tbody>
</table>
