@model IEnumerable<ProjetoCardapio.Models.Pratos>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PratoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LinkImagem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
            <td>
                @Html.DisplayFor(modelItem => item.Periodo.id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dias.DiasId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PratoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkImagem)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
}
    </tbody>
</table>
