@model IEnumerable<ProjetoCardapio.Models.Pratos>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="textomod text-black" asp-action="Create">Adicionar Novo Prato</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.PratoNome)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.LinkImagem)
            </th>
        </tr>
    </thead>
    <tbody class="corpinho">
@foreach (var item in Model) {
            <tr style="background-color: #EFEEEE; font-size: 20px">
                <td style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.Periodo.id)
                </td>
                <td style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.Dias.DiasId)
                </td>
                <td style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.PratoNome)
                </td>
                <td style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.LinkImagem)
                </td>
                <div>

                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> 
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> 
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>

                </div>
            </tr>
        }
    </tbody>
</table>
