@model IEnumerable<ProjetoCardapio.Models.Pratos>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a class="textomod text-black" asp-action="Create">Adicionar Novo Prato</a>
</p>
<table class="table" style="text-align:center;">
    <thead>
        <tr>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.Periodo)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.Dias)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.PratoNome)
            </th>
            <th style="border:none !important;">
                @Html.DisplayNameFor(model => model.LinkImagem)
            </th>
        </tr>
    </thead>
    <tbody class="corpinho">
    @foreach (var item in Model) {
            <tr style="background-color: #EFEEEE; font-size: 20px">
                <td class="modifica" style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.Periodo.NomePeriodo)
                </td>
                <td class="modifica" style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.Dias.NomeDia)
                </td>
                <td class="modifica" style="border:none !important;">
                    @Html.DisplayFor(modelItem => item.PratoNome)
                </td>
                <td style="border:none !important;">                    
                    <img src="@item.LinkImagem" class="img-prato">
                </td>
            </tr>            
            <tr class="refaz" style="text-align:center;">
                <td class="">
                    <div class="item">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-danger">Editar</a>
                    </div>    
                </td>
                <td></td>
                <td>
                    <div class="item">
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger">Detalhes</a>
                    </div>
                </td>
                <td>
                    <div class="item">
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Deletar</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
